.item {
    max-width: 500px;
    background-color: rgb(35, 35, 36);
    color: #fff;
    padding: 20px;
    border-bottom: 5px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.wrap {
    max-width: 380px;
    flex: 1 1 auto;
}

.messageTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    margin: 0;
}

.time {
    display: inline-block;
}

.text {
    margin: 0;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}