.sidebar {
    grid-area: 2 / 1 / 6 / 2;
    background-color: aqua;
    padding: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:not(:last-child) {
    margin-bottom: 30px;
}

.link {
    padding: 5px;
    background-color: aliceblue;
    transition: background-color 0.5s;
}

.link:hover {
    background-color: brown;
}

.active {
    color: blueviolet;
    background-color: brown;
}